=h3 'Competition'
- $variant_order.each do |variant|
  - @variant = variant
  - entries = repository.adapter.select "SELECT * FROM competition_score_entries WHERE variant = ? AND user_id = ?", variant, @user_id
  - if (CompetitionScoreEntry.count user_id: @user_id, variant: @variant) > 0
    - trophies = Trophy.user_competition_trophies @variant
    - user_competition_trophies = repository.adapter.select "select trophy from competition_score_entries where user_id = ? and variant = ? and rank = 1", @player.id, @variant
    =h4 $variants_mapping[variant], "competition_#{variant}"
    .scorelisting
      %table.greytable.trophies
        %tr
          %th{colspan: 2} Competition
          %th
          %th{style: "padding-right: 0; width: 3em;" } Rank
          - $competition_trophy_order.each do |competition_trophy|
            %tr
              - c = CompetitionScoreEntry.first user_id: @user_id, variant: @variant, trophy: competition_trophy
              - trophy = Trophy.first(variant: c.variant, trophy: c.trophy)
              %td.trophy
                =haml :trophy, locals: {trophy: trophy, achieved: (user_competition_trophies.include? trophy.trophy)}
              %td= h trophy.text
              - if competition_trophy == :fastest_ascension_realtime
                %td.table_number= h parse_seconds(c.value)
              - else
                %td.table_number= c.value.html_formatted
              %td.table_number= h c.rank
