.text_content.non_top_post
  %h3
    Competition
  - @userscore.variants.each do |variant, variant_name|
    - @variant = variant
    %h4= variant_name
    .scorelisting
      %table.greytable
        %tr
          %th Competition
          %th
        %tr#cell1
          %td Most ascensions
          %td.table_number= h @userscore.most_ascensions variant
        %tr#cell2
          %td Fastest ascension (gametime)
          %td.table_number= h @userscore.fastest_ascension_gametime variant
        %tr#cell1
          %td Fastest ascension (realtime)
          %td.table_number= h @userscore.fastest_ascension_realtime variant
        %tr#cell2
          %td Highest scoring ascension
          %td.table_number= h @userscore.highest_scoring_ascension variant
        %tr#cell1
          %td Lowest scoring ascension
          %td.table_number= h @userscore.lowest_scoring_ascension variant
        %tr#cell2
          %td Most conducts in a single ascension
          %td.table_number= h @userscore.most_ascensions variant
        %tr#cell1
          %td Longest ascension streak
          %td.table_number= h @userscore.longest_ascension_streak variant
    =haml :_player_trophies
