%h2
    Trophies
.trophycabinet
    %h3 Cross-Variant
    %ul
        - Trophy.cross_variant_trophies.each do |trophy|
            %li
                - users = repository.adapter.select "select (select login from users where user_id = id) as user, user_id, icon from individualtrophies where trophy = ? order by upper(user);", trophy.trophy
                - icon = (users.size > 0) ? trophy.icon : trophy.light_icon
                %a.imagelink{:title => trophy.text, :href => "/trophies##{trophy.anchor}"}
                    %img.trophyleft{:src => "/icons/#{icon}", :alt => trophy.text}
                .trophyright
                    - users.each do |u|
                        %span
                            %a{:href => "/user/" + CGI::escape(u.user)}=h u.user

- $variants_mapping.each do |variant, variant_name|
    .trophycabinet
        %h3= variant_name
        %ul
            - trophies = Trophy.all :variant => variant
            - trophies.each do |trophy|
                %li
                    - users = repository.adapter.select "select (select login from users where user_id = id) as user, user_id from scoreentries where variant = ? and trophy = ? order by upper(user);", variant, trophy.trophy
                    - icon = (users.size > 0) ? trophy.icon : trophy.light_icon
                    %a.imagelink{:title => trophy.text, :href => "/trophies##{trophy.anchor}"}
                        %img.trophyleft{:src => "/icons/#{icon}", :alt => trophy.text}
                    .trophyright
                        - users.each do |u|
                            %span
                                %a{:href => "/user/" + CGI::escape(u.user)}=h u.user
