.content_bulk
  .text_content_wrapper
    .text_content
      %h2 Ascensions per Day
      .scorelisting
        %table.greytable
          %tr
            %th Date (UTC)
            %th
          - count = 0
          - @ascensions_per_day.each do |game|
            - style = (count % 2) == 0 ? "cell1" : "cell2"
            - count += 1
            %tr{:id => style}
              %td.tabe_date= h game.datum
              %td.table_number= game.count

    .text_content.non_top_post
      %h2 Finished Games per Day (without obvious start scummers)
      .scorelisting
        %table.greytable
          %tr
            %th Date (UTC)
            %th
          - count = 0
          - @finished_games_per_day.each do |game|
            - style = (count % 2) == 0 ? "cell1" : "cell2"
            - count += 1
            %tr{:id => style}
              %td.tabe_date= h game.datum
              %td.table_number= game.count

    .text_content.non_top_post
      %h2 New Users per Day
      .scorelisting
        %table.greytable
          %tr
            %th Date (UTC)
            %th
          - count = 0
          - @new_users_per_day.each do |game|
            - style = (count % 2) == 0 ? "cell1" : "cell2"
            - count += 1
            %tr{:id => style}
              %td.tabe_date= h game.date
              %td.table_number= game.count
