%h2#ascended_combinations Ascended combinations
.scorelisting
  %table.greytable.misc
    %tr
      %th Variant
      %th Role
      %th Race
      %th Alignment
      %th Gender
    - count = 0
    - $variants.each do |variant|
      - combinations = repository.adapter.select @ascended_combinations_sql+" and version = ?", @ascended_combinations_value, variant
      - combinations.each do |c|
        - style = (count % 2) == 0 ? "cell1" : "cell2"
        - count += 1
        %tr{:id => style}
          %td= h $variants_mapping[c.version]
          %td= h c.role
          %td= h c.race
          %td= h c.align0
          %td= h c.gender0
