- trophy = Trophy.first :trophy => @trophy
%h2{:id => trophy.anchor}
  %img{:src => "/icons/#{trophy.icon}", :alt => trophy.text}
  #{trophy.text}
.scorelisting
  %table.greytable
    %tr
      %th
        Clan
      %th.competition_value
      %th.competition_value
        Clan Points
      %th.competition_placing
        Rank
    - count = 0
    - ClanScoreEntry.all(:order => [:rank.asc], :trophy => @trophy, :value.gt => 0).each do |entry|
      - style = (count % 2) == 0 ? "cell1" : "cell2"
      - count += 1
      %tr{:id => style}
        %td
          %a{:href => "/clan/#{CGI::escape entry.clan.name}"}
            #{h entry.clan.name}
        %td.table_number
          #{h entry.value}
        %td.table_number
          #{h entry.points}
        %td.table_number
          #{h entry.rank}
