.content_bulk#clan_page
  .text_content_wrapper
    .text_content#clan_about
      #clan_header
        %h1
          #{ h @clan.name }
        - if !@logged_in
          -if @user.login == @clan.get_admin.login
            #clan_disband
              %a{:href => "/clan/disband/#{@clan.name}"} Disband
            #clan_invite
              %a{:href => "#invite_account"} Invite
        - clan_score_entry = ClanScoreEntry.first(:clan_name => @clan.name, :trophy => 'clan_winner')
        #clan_placing
          Rank:
          - if clan_score_entry
            #{h clan_score_entry.rank}
          - else
            no games
        #clan_points
          Clan Points:
          - if clan_score_entry
            #{h clan_score_entry.points}
          - else
            no games
        %span.clear
      #clan_trophies.trophycabinet
        %h2
          Clan trophies
        / TODO: trophy image for clan competition winner
        - ClanScoreEntry.all(:clan_name => @clan.name, :trophy.not => 'clan_winner', :rank => 1).each do |trophy|
          - trophy = Trophy.first :trophy => trophy.trophy
          %a.imagelink{:href => "/trophies#" + trophy.anchor, :title => trophy.text}
            %img.trophyicon{:src => "/icons/" + trophy.icon}
        %span.clear.endofcabinetrow
    .text_content.non_top_post#clan_members
      %h2
        Clan members
      %table.prettytable.clan_members
        %tr
          %th
            Player
          %th
            Role
          %th
            User trophies
          %th
            Last game played (UTC)
        - (User.all :clan => @clan.name, :order => [:login.asc]).each do |user|
          %tr
            %td
              %a{:href => "/user/" + user.login}
                #{ h user.login }
            %td
              - if @clan.get_admin.login == user.login
                admin
              - else
                member
            %td.table_number
              #{h user.scoreentries.count}
            %td
              - if user.games.length != 0
                #{h Time.at(user.games.last().endtime).getutc.strftime("%Y-%m-%d %H:%M")}
              - else
                no games played

    .text_content.non_top_post
      =haml :clan_points_summary

    .text_content.non_top_post
      - @ascended_combinations_sql = ascended_combinations_sql
      - @ascended_combinations_value = @clan.name
      =haml :ascended_combinations

    .text_content.non_top_post
      - @games_played = Game.all(:user_id => User.all(:clan => @clan.name), :conditions => [ "ascended='t'" ], :order => [ :endtime.desc ])
      - @games_played_title = "Ascended Clan Games"
      - @games_played_user_links = true
      =haml :games_played

    .text_content.non_top_post
      =haml :clan_games

    - unique_deaths = (repository.adapter.select unique_deaths_sql+" order by death;", @clan.name)
    .text_content.non_top_post
      %h2= "#{unique_deaths.count} unique death#{'s' if unique_deaths.count != 1}"
      .scorelisting
        %table.greytable.misc
          %tr
            %th
              Unique death
          - count = 0
          - unique_deaths.each do |death|
            - style = (count % 2) == 0 ? "cell1" : "cell2"
            - count += 1
            %tr{:id => style}
              %td= h death

    - if !@logged_in
      - if @user.login == @clan.get_admin.login
        .text_content.non_top_post#clan_invite
          %h2
            Invite
          %form#invite_account.smallform{:method => "POST", :action => "/clan/invite"}
            %input#accountname{:name => 'accountname', :type => 'text', :placeholder => "junethack username", :style => "width: 20ex;"}
            %input{:type => 'hidden', :name => :clan, :value => @clan.name}
            %input{:type => 'submit', :value => "Invite Account"}
            %span.clear
    %span#end_of_content_spacer.clear
