- cache_fragment(Game.max_endtime) do
  - @deaths = repository.adapter.select "select death, count(1) as count from games where user_id is not null group by death order by count desc;"
  - @unique_deaths = repository.adapter.select "select death, count(1) as count from normalized_deaths group by death order by count desc;"

  .content_bulk
    .text_content_wrapper
      .text_content
        =h2 'All deaths (unfiltered)', 'deaths'
        .scorelisting
          %table.greytable.misc
            %tr
              %th Count
              %th Death
            - @deaths.each do |death|
              %tr
                %td.table_number= death.count
                %td= h death.death
      .text_content.non_top_post
        =h2 'Unique deaths (filtered)', 'unique_deaths'
        %h3= "(eligible for <a href='/trophies#clan-deaths'>Most unique deaths for Clan Competition</a>)"
        .scorelisting
          %table.greytable.misc
            %tr
              %th Count
              %th Death
            - @unique_deaths.each do |death|
              %tr
                %td.table_number= death.count
                %td= h death.death
