.content_bulk
    .text_content_wrapper
        .text_content
            #greeting
                = "Hi " + @user.login
            %form{ :action => "/add_server_account", :method => "post"}
                %table#accountlist
                    %tr
                        %th
                        %th Server
                        %th Account
                    - for account in @user.accounts
                        %tr.account
                            %td
                            %td= account.server.name
                            %td= account.name

                    - server_accounts = (Server.all - @user.servers)
                    - if server_accounts.size > 0
                        %tr
                            %fieldset
                                %td
                                    %input{:type => "submit", :value => "+", :class => "small_button"}
                                %td
                                    %select{:name => "server"}
                                        - server_accounts.each do |s|
                                            %option{:value => s.id}= s.name
                                %td
                                    %input{:type => "text", :name => "user", :class => "text"}

            =haml :_user_games
            #clanmanager
            - for account in @user.accounts
                .account-clan
                    %div= account.name + " on " + account.server.name
                    - if account.clan
                        %span= account.clan.name
                        %a{:href => "/leaveclan/#{account.server.id}"} Leave
                    - else
                        - unless account.invitations and account.invitations.empty
                            %table
                                %tr
                                    %th Clan
                                    %th
                                    %th
                                    - for invitation in account.invitations
                                        %tr
                                            %td= invitation['clan_id']
                                        %tr
                                            %td
                                                %a{:href => "/respond/#{account.server.id}/#{invitation['token']}?accept=true"}
                                            %td
                                                %a{:href => "/respond/#{invitation['token']}?accept=false"}
                        - else
                            %div 
                                No clan invitations for this account
                                %form{:method => "POST", :action => "/create_clan/#{account.server.id}"}
                                    %label{:for => "clanname"} Clan name
                                    %input#clanname{:type => "text"}
                                    %input{:type => "submit", :value => "Create clan"} 
