.content_bulk
    .text_content_wrapper
        .text_content
            %h2
                Manage your accounts
            - server_accounts = (Server.all - @user.servers)
            - if server_accounts.size > 0
                #greeting
                    = "Hi #{h @user.login}!  To have your games on one of the <a href='/servers'>supported public servers</a> ranked in the tournament, add the following line<br/><tt># #{h @tournament_identifier}</tt><br/> to your options file on the public server and enter your public server account name (case-sensitive) into the form below."
            %table#accountlist.greytable
                %tr
                    %th Server
                    %th Account
                    %th Variant
                - count = 0
                - for account in @user.accounts
                    - style = (count % 2) == 0 ? "cell1" : "cell2"
                    - count += 1
                    %tr.account{:id => style}
                        %td= account.server.display_name
                        %td= account.name
                        %td= account.server.variant
            - if server_accounts.size > 0
                %h3
                    Add an account to your name
                %form#add_server_form.smallform{ :action => "/add_server_account", :method => "post"}
                    %select{:name => "server"}
                        - server_accounts.each do |s|
                            %option{:value => s.id}= s.display_name
                    %input{:type => "text", :name => "user"}
                    %input{:type => "submit", :value => "add account"}
                    %span.clear
        .text_content.non_top_post
            .trophycabinet.text_cabinet
                %h3
                    Trophies
                %ul
                    - if @user.individualtrophies.count > 0
                        %li
                            .trophyleft
                                Individual
                            .trophyright
                                - for individualtrophy in @user.individualtrophies
                                    %a.imagelink{:title => $trophy_names[individualtrophy.trophy], :href => "/trophies#" + individualtrophy.icon[0 .. (individualtrophy.icon.length - 5)]}
                                        %img{:src => "/icons/" + individualtrophy.icon, :alt => $trophy_names[individualtrophy.trophy]}
                    - unless @user.scoreentries.select{|entry| entry.variant == "3.6.0"}.empty?
                        %li
                            .trophyleft
                                AceHack
                            .trophyright
                                - for scoreentry in @user.scoreentries
                                    - if scoreentry.variant == "3.6.0"
                                        %a.imagelink{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                            %img{:src => "/icons/" + scoreentry.icon}
                    - unless @user.scoreentries.select{|entry| entry.variant == "3.4.3"}.empty?
                        %li
                            .trophyleft
                                NetHack 3.4.3
                            .trophyright
                                - for scoreentry in @user.scoreentries
                                    - if scoreentry.variant == "3.4.3"
                                        %a.imagelink{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                            %img{:src => "/icons/" + scoreentry.icon, :alt => $trophy_names[scoreentry.trophy]}
                    - unless @user.scoreentries.select{|entry| entry.variant == "UNH-3.5.4"}.empty?
                        %li
                            .trophyleft
                                UnNetHack
                            .trophyright
                                - for scoreentry in @user.scoreentries
                                    - if scoreentry.variant == "UNH-3.5.4"
                                        %a.imagelink{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                            %img{:src => "/icons/" + scoreentry.icon, :alt => $trophy_names[scoreentry.trophy]}
                    - unless @user.scoreentries.select{|entry| entry.variant == "0.6.3"}.empty?
                        %li
                            .trophyleft
                                SporkHack
                            .trophyright
                                - for scoreentry in @user.scoreentries
                                    - if scoreentry.variant == "0.6.3"
                                        %a.imagelink{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                            %img{:src => "/icons/" + scoreentry.icon, :alt => $trophy_names[scoreentry.trophy]}
                    - unless @user.scoreentries.select{|entry| entry.variant == "NH-1.3d"}.empty?
                        %li
                            .trophyleft
                                NetHack 1.3d
                            .trophyright
                                - for scoreentry in @user.scoreentries
                                    - if scoreentry.variant == "NH-1.3d"
                                        %a.imagelink{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                            %img{:src => "/icons/" + scoreentry.icon, :alt => $trophy_names[scoreentry.trophy]}
        .text_content.non_top_post
            =haml :_user_games
        .text_content.non_top_post
            =haml :games_played
        #clanmanager.text_content.non_top_post
            %h2
                Manage your clans
            - for account in @user.accounts
                .account-clan
                    %h3= account.name + " on " + account.server.name
                    - if account.clan
                        %a{:href => "/clan/#{CGI::escape account.clan.name}"}= account.clan.name
                        %a{:href => "/leaveclan/#{account.server.id}"} Leave
                        - if account != @user.accounts.last
                            %span#small_content_spacer.clear
                    - else
                        - unless account.invitations and account.invitations.empty?
                            %p
                                You have
                                = account.invitations.length
                                invitation(s)
                            .scorelisting
                                %table
                                    %tr
                                        %th Clan
                                        %th Accept 
                                        %th Decline
                                        - for invitation in account.invitations
                                            %tr
                                                %td= invitation['clan_id']
                                                %td
                                                    %a{:href => "/respond/#{account.server.id}/#{invitation['token']}?accept=true"} Accept
                                                %td
                                                    %a{:href => "/respond/#{account.server.id}/#{invitation['token']}?accept=false"} Decline
                        - else
                            %p
                                No invitations for this account
        - clanless_accs = @user.accounts.select{|a| a.clan.nil?}
        - unless clanless_accs.empty?
            %div.text_content.non_top_post
                %h2 Create a new clan
                %form#create_clan_form.smallform{:method => "POST", :action => "/clan"}
                    %label{:for => "server"}  Creator account
                    %select{:name => "server"}
                        - for acc in clanless_accs
                            %option{:value => acc.server.id}= "#{acc.name} on #{acc.server.name}"

                    %label{:for => "clanname"} Clan name
                    %input#clanname{:name => "clanname", :type => "text"}
                    %input{:type => "submit", :value => "Create clan"}
                    %span#end_of_content_spacer.clear

