.content_bulk
    .text_content_wrapper
        .text_content
            %h2
                Manage your accounts
            -# determine which servers have no account linked
            - server_accounts = (Server.all - @user.servers)
            - if server_accounts.size > 0
                #greeting
                    = "Hi #{h @user.login}!  To have your games on one of the <a href='/servers'>supported public servers</a> ranked in the tournament, add the following line<br/><tt># #{h @tournament_identifier}</tt><br/> to your options file on the public server (on nethack4.org, set the game option \"comment\") and enter your public server account name (case-sensitive) into the form below."
            %table.greytable
                %tr
                    %th Server
                    %th Account
                    %th Variant
                - count = 0
                - for account in @user.accounts
                    - style = (count % 2) == 0 ? "cell1" : "cell2"
                    - count += 1
                    %tr.account{:id => style}
                        %td= account.server.display_name
                        %td= account.name
                        %td= account.server.variant
            - if server_accounts.size > 0
                %h3
                    Add an account to your name
                %form#add_server_form.smallform{ :action => "/add_server_account", :method => "post"}
                    %select{:name => "server"}
                        - server_accounts.each do |s|
                            %option{:value => s.id}= s.display_name
                    %input{:type => "text", :name => "user", :placeholder => "public server username", :style => "width: 22ex;"}
                    %input{:type => "submit", :value => "add account"}
                    %span.clear
        .text_content.non_top_post
            .trophycabinet.text_cabinet
                %h3
                    Trophies
                %ul
                    - @player = @user
                    =haml :user_cross_variant_trophies
                    - for @variant in $variants
                        =haml :user_trophies
                    - @variant = "NH-1.3d"
                    =haml :user_trophies

        .text_content.non_top_post
            =haml :_user_games
        .text_content.non_top_post
            =haml :games_played
        .text_content.non_top_post
            - @ascended_combinations_sql = ascended_combinations_user_sql
            - @ascended_combinations_value = @user.id
            =haml :ascended_combinations
        #clanmanager.text_content.non_top_post
            %h2
                Manage your clan
            - for account in @user.accounts
                .account-clan
                    %h3= account.name
                    - if account.clan
                        %a{:href => "/clan/#{CGI::escape account.clan.name}"}= account.clan.name
                        %a{:href => "/leaveclan/#{account.server.id}"} Leave
                        - if account != @user.accounts.last
                            %span#small_content_spacer.clear
                    - else
                        - unless account.invitations and account.invitations.empty?
                            %p
                                You have
                                = account.invitations.length
                                invitation(s)
                            .scorelisting
                                %table
                                    %tr
                                        %th Clan
                                        %th Accept
                                        %th Decline
                                        - for invitation in account.invitations
                                            %tr
                                                %td= invitation['clan_id']
                                                %td
                                                    %a{:href => "/respond/#{account.server.id}/#{invitation['token']}?accept=true"} Accept
                                                %td
                                                    %a{:href => "/respond/#{account.server.id}/#{invitation['token']}?accept=false"} Decline
                        - else
                            %p
                                No invitations for this account
        - clanless_accs = @user.accounts.select{|a| a.clan.nil?}
        - if not @user.clan and not clanless_accs.empty?
            %div.text_content.non_top_post
                %h2 Create a new clan
                %form#create_clan_form.smallform{:method => "POST", :action => "/clan"}
                    %input{:type => "hidden", :value => clanless_accs.first.server.id, :name => "server"}
                    %label{:for => "clanname"} Clan name
                    %input#clanname{:name => "clanname", :type => "text", :placeholder => "clan name"}
                    %input{:type => "submit", :value => "Create clan"}
                    %span#end_of_content_spacer.clear

