%section.content_bulk
    .text_content_wrapper
        %section.text_content
            %h2
                Manage your accounts
            -# determine which servers have no account linked
            - server_accounts = (Server.all - @user.servers)
            - server_accounts = server_accounts.map {|server| [server.id, server.hostname] }.uniq {|_,server| server}
            - if server_accounts.size > 0
                #greeting
                    = "Hi #{h @user.login}!  To have your games on one of the <a href='/servers'>supported public servers</a> ranked in the tournament, add the following line<br/><tt># #{h @tournament_identifier}</tt><br/> to your options file on the public server."
                %ul
                    %li= "On nethack.alt.org, use the \"NetHack 3.6.1\" nethackrc for all hosted variants there."
                    %li= "On nethack4.org, set the interface option \"comment\") and enter your public server account name (case-sensitive) into the form below."
                    %li= "On ascension.run, use the \"NetHack 3.4.3\" nethackrc."
                    %li= "On em.slashem.me, use the \"NetHack 3.6.1\" nethackrc."
                    %li= "On hardfought.org, use the \"NetHack 3.4.3\" nethackrc."
            %table.greytable
                %tr
                    %th Server
                    %th Account
                - accounts = @user.accounts.map {|acc| [acc.server.hostname, acc.name] }.uniq.sort
                - accounts.each do |server, name|
                    %tr.account
                        %td= server
                        %td= name
            - if server_accounts.size > 0
                %h3
                    Add an account to your name
                %form#add_server_form.smallform{ action: "/add_server_account", method: "post"}
                    %select{ name: "server"}
                        - server_accounts.each do |id, hostname|
                            %option{value: id}= hostname
                    %input{ type: "text", name: "user", placeholder: "public server username", style: "width: 22ex;", autofocus: ""}
                    %input{ type: "submit", value: "add account"}
                    %span.clear

        %section#clanmanager.text_content.non_top_post
            %h2
                Manage your clan
            .account-clan
                - if @user.clan
                    %img{src: @user.clan.gravatar_link, style: 'vertical-align: middle; width: 2em'}
                    %a{:href => "/clan/#{CGI::escape @user.clan.name}"}= @user.clan.name
                    %a{:href => "/leaveclan"} Leave
                - else
                    - unless @user.invitations and @user.invitations.empty?
                        %p
                            You have
                            = @user.invitations.length
                            invitation(s)
                        .scorelisting
                            %table
                                %tr
                                    %th Clan
                                    %th Accept
                                    %th Decline
                                    - for invitation in @user.invitations
                                        %tr
                                            %td= invitation['clan_id']
                                            %td
                                                %a{:href => "/respond/#{invitation['token']}?accept=true"} Accept
                                            %td
                                                %a{:href => "/respond/#{invitation['token']}?accept=false"} Decline
                    - else
                        %p
                            No invitations for this user
        - if not @user.clan
            %section.text_content.non_top_post
                %h2 Create a new clan
                %form#create_clan_form.smallform{:method => "POST", :action => "/clan"}
                    %label{:for => "clanname"} Clan name
                    %input#clanname{:name => "clanname", :type => "text", :placeholder => "clan name"}
                    %input{:type => "submit", :value => "Create clan"}
                    %span#end_of_content_spacer.clear

