<!doctype html>
%html
  %head
    %meta{:content => "application/xhtml+xml;charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/style-xiella.css", :rel => "stylesheet", :type => "text/css"}/
    %title= "Junethack - #{User.count} players registered - #{Game.count :conditions => [ 'user_id is not null' ] } games played!"
  %body
    #container
      #topnav.navigation
        %nav
          / use of the nav element: http://www.webteacher.ws/2009/07/09/html5-the-nav-element
          %h1
            Navigation
          %ul
            %li
              %a{:href => "/"} 
                %img{:alt => "Logo", :src => "/vivid_divider.png"}/
            %li
              - if !@logged_in then
                %a{:href => "/home"} #{h @user.login}
              - if @logged_in then
                %a{:href => "/login"} Login
            %li
              %a{:href => "/scoreboard"} Scoreboard
            %li
              - if !@logged_in then
                %a{:href => "/logout"} Logout
              - if @logged_in then
                %a{:href => "/about"} Help
          %span.clear
      .hcenter
        - if @show_banner
          %p
            %img{:alt => "Logo", :src => "/banner_at2.png"}/
      - if !@messages.empty? then
        #messages
          %div
          - for message in @messages
            %div.message= message
      - if !@errors.empty? then
        #errors
          - for error in @errors
            %div.error= error
      =yield
      =haml :footer
