<!doctype html>
%html
  %head
    %meta{:content => "application/xhtml+xml;charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/style-xiella.css", :rel => "stylesheet", :type => "text/css"}/
    - games_count = Game.count :conditions => [ 'user_id is not null' ]
    - if games_count == 0 then
      %title= "Junethack - #{User.count} players already registered!"
    - else
      %title= "Junethack - #{User.count} players registered - #{games_count} games played!"
  %body
    #container
      #topnav.navigation
        %nav
          / use of the nav element: http://www.webteacher.ws/2009/07/09/html5-the-nav-element
          %h1
            Navigation
          %ul.main
            %li.first
              %a{:href => "/"} 
                %img{:alt => "Home", :src => "/vivid_divider.png"}/
            %li
              - if !@logged_in then
                %a{:href => "/home"} #{h @user.login}
              - if @logged_in then
                %a{:href => "/login"} Login
            %li
              %a{:href => "/scoreboard"} Scoreboard
            %li.longer1
              %a{:href => "/games"} Games
              %ul
                %li.first
                  %a{:href => "/ascensions"} Ascensions
                %li
                  %a{:href => "/deaths"} Deaths
            %li
              %a{:href => "/users"} Users
            %li.shorter1
              %a{:href => "/clans"} Clans
              %ul
                %li.first
                  %a{:href => "/clan_competition"} Clan Competition
            %li
              - if !@logged_in then
                %a{:href => "/logout"} Logout
              - if @logged_in then
                %a{:href => "/about"} Help
          %span.clear
      .hcenter
        - if @show_banner
          .logotitles
            %h1 NetHack
          .logoimage
            %p
              %img{:alt => "Logo", :src => "/banner_at2.png"}/
          .logotitles
            %h2 Summer Tournament
      - if !@messages.empty? then
        #messages
          %div
          - for message in @messages
            %div.message= message
      - if !@errors.empty? then
        #errors
          - for error in @errors
            %div.error= error
      =yield
      =haml :footer
