!!! 5
%html.no-js{"xmlns:og" => "http://ogp.me/ns#"}
  %head
    %meta{:content => "application/xhtml+xml;charset=utf-8", "http-equiv" => "content-type"}/
    - games_count = Game.count :conditions => [ 'user_id > 0' ]
    - if Time.now.to_i < $tournament_signupstarttime
      %title= 'Junethack'
    - elsif games_count == 0 then
      %title= "Junethack - #{User.count} players already registered!"
    - else
      %title= "Junethack - #{User.count} players registered - #{games_count} games played!"
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Junethack" />
    <meta property="og:url" content="#{request.scheme}://junethack.net/" />
    <meta property="og:description" content="The NetHack Cross-Variant Summer Tournament" />
    <meta property="og:image" content="#{request.scheme}://junethack.net/apple-touch-icon.png" />
    <link rel="alternate" type="application/rss+xml" title="Junethack" href="#{request.scheme}://junethack.net/junethack.rss" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/back-to-top.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9] %script {:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #container
      %a#back_to_top{:href => "#"} Back to top
      #topnav.navigation
        /
          Preferred position and markup for logo.
          %header
            %a.logo{:href => "#"}
              %img.logo{:src => "logo.png"}/
        %nav
          %ul.main
            %li.first
              %a.logo{:href => "/"} 
                %img.logo{:alt => "Home", :src => "/logo.png"}/
            %li
            %li
              %a{:href => "/games"} Results
              %ul.nested
                %li
                  %a{:href => "/scoreboard"} Clan scoreboard
                %li
                  %a{:href => "/player_scoreboard"} Player scoreboard
                %li
                  %a{:href => "/trophy_scoreboard"} Trophy scoreboard
                %li
                  %a{:href => "/ascensions"} Ascensions
                %li
                  %a{:href => "/deaths"} Deaths
                %li
                  %a{:href => "/games"} Games
            %li
              %a{:href => "/activity"} Tournament stats
              %ul.nested
                %li
                  %a{:href => "/activity"} Summary
                %li
                  %a{:href => "/clans"} Clans
                %li
                  %a{:href => "/users"} Players
                %li
                  %a{:href => "/servers"} Servers
            %li
              %a{href: '/archive/2018/index.html'} Archives
              %ul.nested
                %li
                  %a{:href => "/archive/2018/index.html"} 2018 tournament
                %li
                  %a{:href => "/archive/2017/index.html"} 2017 tournament
                %li
                  %a{:href => "/archive/2016/index.html"} 2016 tournament
                %li
                  %a{:href => "/archive/2015/index.html"} 2015 tournament
                %li
                  %a{:href => "/archive/2014/index.html"} 2014 tournament
                %li
                  %a{:href => "/archive/2013/index.html"} 2013 tournament
                %li
                  %a{:href => "/archive/2012/index.html"} 2012 tournament
                %li
                  %a{:href => "/archive/2011/index.html"} 2011 tournament

            %li
              %a{:href => "/about"} About
              %ul.nested
                %li
                  %a{:href => "/rules"} Rules
                %li
                  %a{:href => "/trophies"} Trophies
                %li
                  %a{:href => "/authors.txt"} The project

            %li
              %a{href: "https://nethackwiki.com/wiki/Junethack/FAQ"} FAQ

          %ul.main.settings
            - if !@logged_in then
              %li
                %a{href: "/user/#{@user.login}"}
                  %i.fas.fa-user
              %li
                %a{href: "/home"}
                  %i.fas.fa-cog
              %li
                %a{href: "/logout"}
                  %i.fas.fa-sign-out-alt
            - if @logged_in then
              %li
                %a{href: "/login"} Login
          %span.clear
      #page_content
        %section#welcome.hcenter
          - if @show_banner
            .logotitles
              %h1 NetHack Cross-Variant
            .logoimage
              %p
                %img{:alt => "Logo", :src => "/logo-large.png"}/
            .logotitles
              %h2 Summer Tournament
      - if !@messages.empty? then
        #messages
          %div
          - for message in @messages
            %div.message= message
      - if !@errors.flatten.empty? then
        #errors
          - for error in @errors
            %div.error= error
      =yield
      =haml :footer
