<!doctype html>
%html{"xmlns:og" => "http://ogp.me/ns#"}
  %head
    %meta{:content => "application/xhtml+xml;charset=utf-8", "http-equiv" => "content-type"}/
    %link{href: "/style-mobile.css",   rel: "stylesheet", type: "text/css"}/
    %link{href: "/no-more-tables.css", rel: "stylesheet", type: "text/css"}/
    - games_count = Game.count :conditions => [ 'user_id > 0' ]
    - if Time.now.to_i < $tournament_signupstarttime
      %title= 'Junethack 2022'
    - elsif games_count == 0 then
      %title= "Junethack 2022 - #{User.count} players already registered!"
    - else
      %title= "Junethack 2022 - #{User.count} players registered - #{games_count} games played!"
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Junethack" />
    <meta property="og:url" content="#{request.scheme}://junethack.net/" />
    <meta property="og:description" content="The NetHack Cross-Variant Summer Tournament" />
    <meta property="og:image" content="#{request.scheme}://junethack.net/apple-touch-icon.png" />
    <link rel="alternate" type="application/rss+xml" title="Junethack" href="#{request.scheme}://junethack.net/junethack.rss" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Turn off telephone number detection on iOS. -->
    <meta name="format-detection" content="telephone=no">

    <!-- resources for the mobile navigation menu -->
    <link rel="stylesheet" type="text/css" media="screen" href="/mobilemenu.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".nav-button").click(function () {
    $(".nav-button,.primary-nav").toggleClass("open");
    });
    });
    </script>

  %body
    <button class="nav-button">Toggle Navigation</button>
    #container
      #topnav.navigation
        %nav.primary-nav
          %a.mobile-logo{:href => "/"}
            %img{:alt => "", :src => "/logo.png"}/
          %ul.main
            %li
              %a{:href => "/games"} Results
              %ul.nested
                %li
                  %a{:href => "/scoreboard"} Clan scoreboard
                %li
                  %a{:href => "/player_scoreboard"} Player scoreboard
                %li
                  %a{:href => "/trophy_scoreboard"} Trophy scoreboard
                %li
                  %a{:href => "/ascensions"} Ascensions
                %li
                  %a{:href => "/deaths"} Deaths
                %li
                  %a{:href => "/games"} Games
            %li
              %a{:href => "/activity"} Tournament stats
              %ul.nested
                %li
                  %a{:href => "/activity"} Summary
                %li
                  %a{:href => "/clans"} Clans
                %li
                  %a{:href => "/users"} Players
                %li
                  %a{:href => "/servers"} Servers
                - if Time.now.to_i > $tournament_endtime
                  %li
                    %a{:href => "/post_tournament_statistics"} Post Tournament Statistics
            %li
              %a{href: '/archive/2022/index.html'} Archives
              %ul.nested
                %li
                  %a{:href => "/archive/2022/index.html"} 2022 tournament
                %li
                  %a{:href => "/archive/2021/index.html"} 2021 tournament
                %li
                  %a{:href => "/archive/2020/index.html"} 2020 tournament
                %li
                  %a{:href => "/archive/2019/index.html"} 2019 tournament
                %li
                  %a{:href => "/archive/2018/index.html"} 2018 tournament
                %li
                  %a{:href => "/archive/2017/index.html"} 2017 tournament
                %li
                  %a{:href => "/archive/2016/index.html"} 2016 tournament
                %li
                  %a{:href => "/archive/2015/index.html"} 2015 tournament
                %li
                  %a{:href => "/archive/2014/index.html"} 2014 tournament
                %li
                  %a{:href => "/archive/2013/index.html"} 2013 tournament
                %li
                  %a{:href => "/archive/2012/index.html"} 2012 tournament
                %li
                  %a{:href => "/archive/2011/index.html"} 2011 tournament

            %li
              %a{:href => "/about"} About
              %ul.nested
                %li
                  %a{:href => "/rules"} Rules
                %li
                  %a{:href => "/trophies"} Trophies
                %li
                  %a{:href => "/authors.txt"} The project

            %li
              %a{href: "https://nethackwiki.com/wiki/Junethack/FAQ"} FAQ

          %ul.main.settings
            - if !@logged_in then
              %li
                %a{href: "/user/#{@user.login}"}
                  %i.fas.fa-user
              %li
                %a{href: "/home"}
                  %i.fas.fa-cog
              %li
                %a{href: "/logout"}
                  %i.fas.fa-sign-out-alt
            - if @logged_in then
              %li
                %a{href: "/login"} Login
      %span.clear
      .hcenter
        - if @show_banner
          .logotitles
            %h1 NetHack Cross-Variant
          .logoimage
            %p
              %img{:alt => "Logo", :src => "/logo-large.png"}/
          .logotitles
            %h2 Summer Tournament
      %hr
      - if !@messages.empty? then
        #messages
          %div
          - for message in @messages
            %div.message= message
      - if !@errors.empty? then
        #errors
          - for error in @errors
            %div.error= error
      =yield
      =haml :footer
