%section.content_bulk
  .text_content_wrapper
    / This h2 should be in the branding section
    %section.text_content
      %h2
        Player scoreboard
    %section#page_outline.text_content
      - $variants.each do |variant|
        - variant_name = $variants_mapping[variant]
        %p
          %a{:href => "##{variant}"}= variant_name
    - $variants.each do |variant|
      - variant_name = $variants_mapping[variant]
      %section.text_content
        %h3{:id => variant}= variant_name
        - if (CompetitionScoreEntry.count :variant => @variant) == 0
          %div
            No ascensions yet
        - else
          - for i in 0..$trophies.size-1 do
            .scorelisting
              %table.greytable
                %tr
                  %th= $trophies_name[i]
                  %th.competition_value
                  %th.competition_placing Placing
                / only show the first 3 places
                - c = CompetitionScoreEntry.all :variant => @variant, :trophy => $trophies[i], :order => [ :rank.asc ], :conditions => [ 'rank <= 3' ]
                - for j in 0..c.size-1 do
                  - style = (j % 2) == 0 ? "cell1" : "cell2"
                  %tr{:id => style}
                    - user = User.get(c[j].user_id).login
                    %td
                      %a{:href => "/user/" + CGI::escape(user)}=h user
                    - if $trophies[i] == 'fastest_ascension_realtime'
                      %td.table_number= h parse_seconds(c[j].value)
                    - else
                      %td.table_number= h c[j].value
                    %td.table_number= h c[j].rank

