.content_bulk
  .text_content_wrapper
    .text_content
      %table.prettytable
        %tr
          %th
            Server name
          %th
            Abbreviation
          %th
            Variant name
        - Server.all.each do |server|
          %tr
            %td
              %a{href: "#{server.url}"}="#{server.hostname}"
            %td
              %a{href: "/server/#{server.name}"}="#{server.name.upcase}"
            %td
              #{server.variant}
      %span#end_of_content_spacer.clear
