.content_bulk
  .text_content_wrapper
    .text_content
      %h2
        <a href="#{h @server.url}">#{h @server.hostname}</a> - #{h @server.variant}
    .text_content
      %h3= "Last #{@games.size} Games played"
      .scorelisting#no-more-tables
        %table.greytable.cf
          %thead.cf
            %tr
              %th Name
              %th Points
              %th Killer
              -# download column
              %th
              %th Time (UTC)
          - @games.each do |game|
            %tr
              %td{:id => "game-#{game.id}"}
                - if game.user_id then
                  %a{:href => "/user_id/#{game.user_id}"}= h game.name
                - else
                  #{h game.name}
              %td.table_number{"data-title" => "Points"}= game.points
              %td{"data-title" => "Killer"}= h game.death
              %td.dllink
                -# link to the dumplog of the game if possible
                - link = game.server.dumplog_link(game)
                - if link then
                  (<a href="#{link}">d</a>)
              %td.table_date{"data-title" => "Time"}= Time.at(game.endtime.to_i).getutc.strftime("%Y-%m-%d&nbsp;%H:%M")
    %span#end_of_content_spacer.clear 
