.content_bulk
  .text_content_wrapper
    .text_content
      %h2
        #{h @server.name} - a #{h @server.variant} server @ #{h @server.url}
      %h3
        Url: #{h @server.url}
      %h3
        Variant: #{h @server.variant}
    .text_content.non_top_post
      %h3= "Last #{@games.size} Games played"
      .scorelisting
        %table{:style => "width: 100%;"}
          %tr
            %th Name
            %th Points
            %th Killer
            %th Time (UTC)
          - count = 0
          - @games.each do |game|
            - style = (count % 2) == 0 ? "cell1" : "cell2"
            - count += 1
            %tr{:id => style}
              %td
                %a{:href => "/user_id/#{game.user_id}"}= h game.name
              %td.table_number= game.points
              %td= h game.death
              %td.table_date= Time.at(game.endtime.to_i).getutc.strftime("%Y-%m-%d&nbsp;%H:%M")
    %span#end_of_content_spacer.clear 
