=h2 'Games killed by trophy relevant monsters', 'clan-turns'
.scorelisting#no-more-tables
  %table.greytable.cf
    %thead.cf
      %tr
        %th Name
        %th Variant
        %th Server
        %th Monster
        %th Turns
        -# download column
        %th
        %th Time (UTC)
    - users = @clan.users.map(&:id)
    - game_ids = NormalizedDeath.all(user_id: users, monster: $clan_killed_by).map(&:game_id)
    - games = Game.all(id: game_ids)
    - games.each do |game|
      %tr
        %td{:id => "game-#{game.id}"}
          %a{:href => "/user_id/#{game.user_id}"}= h game.name
        %td{"data-title" => "Name"}= h game.variant_name
        %td{"data-title" => "Server"}= h game.server.hostname
        %td.small_cell{"data-title" => "Monster"}= h game.death
        %td.table_number{"data-title" => "Turns"}= game.turns.html_formatted
        %td.dllink
          -# link to the dumplog of the game if possible
          - link = game.server.dumplog_link(game)
          - if link then
            (<a href="#{link}">d</a>)
        %td.table_date{"data-title" => "Time"}= Time.at(game.endtime.to_i).getutc.strftime("%Y-%m-%d&nbsp;%H:%M")
