- cache_fragment("#{Game.max :endtime, :user_id => @player.id}_#{@player.updated_at}_#{@player.accounts.count}") do
    .content_bulk
        .text_content_wrapper
            .text_content
                %h2
                    Junethack 2019
                %h2
                    #{h @player.login}
                %h2
                    #{@player.display_game_statistics}

            .text_content.non_top_post
                .trophycabinet.text_cabinet
                    =h3 'Trophies'
                    %ul
                        =haml :user_cross_variant_trophies
                        - for @variant in variant_and_bonus_games_order
                            / only show achievements for games that the player actually played
                            - if Game.count(user_id: @player.id, version: @variant) > 0
                                =haml :user_trophies

            .text_content.non_top_post
                =haml :_player_games

            .text_content.non_top_post
                =haml :games_played

            .text_content.non_top_post
                =haml :cross_variant_games

            .text_content.non_top_post
                - @ascended_combinations_sql = ascended_combinations_user_sql
                - @ascended_combinations_value = @player.id
                =haml :ascended_combinations

            .text_content.non_top_post
                =h2 :Accounts
                %table.greytable
                    %tr
                        %th Server
                        %th Account
                    - accounts = @player.accounts.map {|acc| [acc.server.hostname, acc.name] }.uniq.sort
                    - accounts.each do |server, name|
                        %tr.account
                            %td= server
                            %td= name

            #clanmanager.text_content.non_top_post
                =h2 :Clan
                - if @player.clan
                    %a{:href => "/clan/#{CGI::escape @player.clan.name}"}= @player.clan.name
                    %span#small_content_spacer.clear
                - else
                    No clan
                    %span#small_content_spacer.clear

