.content_bulk
    .text_content_wrapper
        .text_content
            %h2
                #{h @player.login} @ junethack2011
            - server_accounts = (Server.all - @player.servers)
            %form{ :action => "/add_server_account", :method => "post"}
                %table#accountlist
                    %tr
                        %th Server
                        %th Account
                        %th
                    - count = 0
                    - for account in @player.accounts
                        - style = (count % 2) == 0 ? "cell1" : "cell2"
                        - count += 1
                        %tr.account{:id => style}
                            %td= account.server.display_name
                            %td= account.name
                            %td.noborder

        .text_content.non_top_post
            %h3
                Trophies
            - unless @player.scoreentries.select{|entry| entry.variant == "3.6.0"}.empty?
                %li
                    AceHack
                %p
                    - for scoreentry in @player.scoreentries
                        - if scoreentry.variant == "3.6.0"
                            %a{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                %img{:style => "width:5%;height:5%;", :src => "/icons/" + scoreentry.icon}
            - unless @player.scoreentries.select{|entry| entry.variant == "3.4.3"}.empty?
                %li
                    NetHack 3.4.3
                %p
                    - for scoreentry in @player.scoreentries
                        - if scoreentry.variant == "3.4.3"
                            %a{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                %img{:style => "width:5%;height:5%;", :src => "/icons/" + scoreentry.icon}
            - unless @player.scoreentries.select{|entry| entry.variant == "UNH-3.5.4"}.empty?
                %li
                    UnNetHack
                %p
                    - for scoreentry in @player.scoreentries
                        - if scoreentry.variant == "UNH-3.5.4"
                            %a{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                %img{:style => "width:5%;height:5%;", :src => "/icons/" + scoreentry.icon}
            - unless @player.scoreentries.select{|entry| entry.variant == "0.6.3"}.empty?
                %li
                    SporkHack
                %p
                    - for scoreentry in @player.scoreentries
                        - if scoreentry.variant == "0.6.3"
                            %a{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                %img{:style => "width:5%;height:5%;", :src => "/icons/" + scoreentry.icon}
            - unless @player.scoreentries.select{|entry| entry.variant == "NH-1.3d"}.empty?
                %li
                    NetHack 1.3d
                %p
                    - for scoreentry in @player.scoreentries
                        - if scoreentry.variant == "NH-1.3d"
                            %a{:title => $trophy_names[scoreentry.trophy], :href => "/trophies#" + scoreentry.icon[0 .. (scoreentry.icon.length - 5)]}
                                %img{:style => "width:5%;height:5%;", :src => "/icons/" + scoreentry.icon}
        =haml :_player_games
        #clanmanager.text_content.non_top_post
            - for account in @player.accounts
                .account-clan
                    %h3= account.name + " on " + account.server.name
                    - if account.clan
                        %a{:href => "/clan/#{account.clan.name}"}= account.clan.name
                        %span#small_content_spacer.clear
                    - else
                        No clan
                        %span#small_content_spacer.clear
	
