- cache_fragment("#{Game.max :endtime, :user_id => @player.id}_#{@player.updated_at}_#{@player.accounts.count}") do
    .content_bulk
        .text_content_wrapper
            .text_content
                %h2
                    Junethack 2014
                %h2
                    #{h @player.login}
                %h2
                    #{@player.display_game_statistics}
                - server_accounts = (Server.all - @player.servers)
                %table.greytable
                    %tr
                        %th Server
                        %th Account
                    - count = 0
                    - for account in @player.accounts
                        - style = (count % 2) == 0 ? "cell1" : "cell2"
                        - count += 1
                        %tr.account{:id => style}
                            %td= account.server.display_name
                            %td= account.name

            .text_content.non_top_post
                .trophycabinet.text_cabinet
                    %h3
                        Trophies
                    %ul
                        =haml :user_cross_variant_trophies
                        - for @variant in $variants
                            =haml :user_trophies
            .text_content.non_top_post
                =haml :_player_games
            .text_content.non_top_post
                =haml :games_played
            .text_content.non_top_post
                - @ascended_combinations_sql = ascended_combinations_user_sql
                - @ascended_combinations_value = @player.id
                =haml :ascended_combinations
            #clanmanager.text_content.non_top_post
                %h2 Clan
                - if @player.clan
                    - clan = Clan.get @player.clan
                    %a{:href => "/clan/#{CGI::escape clan.name}"}= clan.name
                    %span#small_content_spacer.clear
                - else
                    No clan
                    %span#small_content_spacer.clear

